<p>
  Telefone: <%= @costumer.phone_number %>
</p>
<p>
  Nome: <%= @costumer.name %>
</p>
<p>
  Endereço: <%= @costumer.address %> N° <%= @costumer.number_of_address %>
</p>
<p>
  Bairro: <%= @costumer.neighborhood %>
</p>
<p>
  <%= button_to 'Editar', edit_costumer_path, method: :get %>
</p>  
<p class=>
  <%= button_to 'Apagar', costumer_path(@costumer), method: :delete, data: { turbo_confirm: "Deseja realmente apagar o Cliente #{@costumer.name}?" } %>
</p> 

