<%= form_with url: payments_path do |form| %>
  <%= form.hidden_field :order_id, value: @order_id %>
  <label class="amount">
    <span>Valor R$<%= (@order.total_value).round(3)  %></span>
  </label>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="A month's subscription"
    data-amount=<%= (@order.total_value.round(2) * 100).to_i  %>
    data-locale="auto"></script>
<% end %>
