<%=link_to 'Novo Produto', new_product_path, class: "btn btn-secondary", method: :get %>

<table style="display: flex; flex-direction: column; width: 100%">
  <thead>
    <th>ID</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Ações</th>
  </thead>
  <tbody>
    <% @products.map.with_index do |product, index| %>
      <tr style="background-color: <%= current_user.configuration.colors[index % current_user.configuration.colors.size] %>">
        <td><%= product.code %></td>
        <td><%= product.name %></td>
        <td><%= "R$ #{product.price}" %></td>
        <td><%= link_to  "Detalhes", product, class: "btn btn-secondary", method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>
